<nav id="nav-main">
                        <ul>
                            <li>
                                <a href="#banner">Jobs</a>
                            </li>
                            <li>
                                <a href="#about">Events</a>
                            </li>
                            <li>
                                <a href="#gallery">For Companies</a>
                            </li>
                            <li>
                                <a href="#services">Candidates</a>
                            </li>
                            <li>
                                <a href="#testimonials">Flasgship Events</a>
                            </li>
                            <li>
                                <a href="#clients">Blog</a>
                            </li>
                            <li>
                                <a href="#pricing">About us</a>
                            </li>
                        </ul>
                    </nav>
                    <!--End of Main Navigation-->